<% if @failed_auth %>
  <h2>Invalid user name or password!!</h2>
<% end %>

<%= form_tag("/session", method: "post") do %>
  <%= label_tag(:email) %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password) %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Log In") %>
<% end %>

<% # TODO Need to format page %>
