<h1>Edit Character <%= @character.name %> <%= @character.surname %></h1>

<%= form_for(@character) do |f| %>
  <%= f.label(:house_id) %>
  <%= f.collection_select(:house_id, @houses, :id, :name) %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:surname) %>
  <%= f.text_field(:surname) %>
  <%= f.label(:description) %>
  <%= f.text_area(:description, size: "60x12") %>
  <%= f.label(:history) %>
  <%= f.text_area(:history, size: "60x12") %>
  Abilities
  <ul>
    <%= f.fields_for :abilities, @character.abilities.sort do |ability_form| %>
    <li>
      <%= ability_form.label(:ability_name_id, ability_form.object.ability_name.name) %>
      <%= ability_form.hidden_field(:id) %>
      <%= ability_form.number_field(:rank) %>
      <ul>
      <%= ability_form.fields_for :specialties, ability_form.object.specialties.sort do |specialty_form| %>
        <li>
          <%= specialty_form.label(:specialty_name_id, specialty_form.object.specialty_name.name) %>
          <%= specialty_form.hidden_field(:id) %>
        </li>
      <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
<%= f.submit %>
<% end %>
<%= form_for(@character, {:method => :delete}) do |f| %>
<%= f.submit "Delete Character" %>
<% end %>

<a href="/characters/<%="#{@character.id}"%>">Go Back</a>
