<h1>Edit Character <%= @character.name %> <%= @character.surname %></h1>

<%= form_for(@character) do |f| %>
  <%= f.label(:house_id) %>
  <%= f.collection_select(:house_id, @houses, :id, :name) %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:surname) %>
  <%= f.text_field(:surname) %>
  <%= f.label(:description) %>
  <%= f.text_area(:description, size: "60x12") %>
  <%= f.label(:history) %>
  <%= f.text_area(:history, size: "60x12") %>
  Abilities
  <ul>
    <%= f.fields_for :abilities do |abil| %>
    <li>
      <%= abil.label(:ability_name_id, abil.object.ability_name.name) %>
      <%= abil.hidden_field(:id) %>
      <%= abil.number_field(:rank) %>
    </li>
    <% end %>
  </ul>
<%= f.submit %>
<% end %>
<%= form_for(@character, {:method => :delete}) do |f| %>
<%= f.submit "Delete Character" %>
<% end %>

<a href="/characters/<%="#{@character.id}"%>">Go Back</a>
