<h1>Create a Character</h1>

<%= form_for(@character) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:surname) %>
  <%= f.text_field(:surname) %>
  <%= f.label(:gender_id) %>
  <%= f.collection_select(:gender_id, @genders, :id, :name) %>
  <%= f.label(:age_id) %>
  <%= f.collection_select(:age_id, @ages, :id, :name) %>
  <%= f.label(:house_id) %>
  <%= f.collection_select(:house_id, @houses, :id, :name) %>
  <%= f.label(:description) %>
  <%= f.text_area(:description) %>
  <%= f.label(:history) %>
  <%= f.text_area(:history) %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <%= f.submit %>
<% end %>
