<h1>Character <%= @character.name %> <%= @character.surname %></h1>
<h2>of <%= @character.house.name %></h2>
<p>Age: <%= @character.age.name %></p>
<p>Gender: <%= @character.gender.name %></p>
<h3>Character Description:</h3>
<p><%= @character.description %></p>

<h3>Character History:</h3>
<p><%= @character.history %></p>


<h3>Character Experience</h3>
<% if @new_character %>
  You need to set up your character!<p>
  Ability XP:  <%= @ability_xp %> <br>
  Specialty XP:  <%= @specialty_xp %> <br> </p>
<% else %>
  <p>XP Available:  <%= @experience %></p>
<% end %>
<h3>Character Abilities</h3>
<p><ul>
<% @character.abilities.sort.each do |ability| %>
  <li><%= ability.ability_name.name %> <%= ability.rank %></li><ul>
  <% ability.specialties.sort.each do |specialty| %>
    <li><%= specialty.specialty_name.name %></li>
  <% end %>
  </ul>
<% end %>
</ul></p>

<a href="/characters/<%="#{@character.id}"%>/edit">Edit</a>
<a href="/characters/">Go Back</a>
