<h1>Character <%= @character.name %> <%= @character.surname %></h1>
<h2>of <%= @character.house.name %></h2>
<p>Age: <%= @character.age_id %></p>
<p>Gender: <%= @character.gender.name %></p>
<h3>Character Description:</h3>
<p><%= @character.description %></p>

<h3>Character History:</h3>
<p><%= @character.history %></p>

<a href="/characters/<%="#{@character.id}"%>/edit">Edit</a>
<a href="/characters/">Go Back</a>
