<h1>Character <%= @character.name %> <%= @character.surname %></h1>
<h2>of <%= @character.house.name %></h2>
<p>Age: <%= @character.age.name %></p>
<p>Gender: <%= @character.gender.name %></p>
<h3>Character Description:</h3>
<p><%= @character.description %></p>

<h3>Character History:</h3>
<p><%= @character.history %></p>


<h3>Character Experience</h3>
<% if @new_character %>
<% binding.pry %>
<p>Ability XP:  <%= @ability_xp %> <br>
  Specialty XP:  <%= @specialty_xp %> <br> </p>
  <% else %>
  <p>XP Available:  <%= @experience %></p>
  <% end %>
<h3>Character Abilities</h3>
<p><% @character.abilities.each do |ability| %>
    <li><%= ability.ability_name.name %> <%= ability.rank %></li>
    <% end %>
</p>

<a href="/characters/<%="#{@character.id}"%>/edit">Edit</a>
<a href="/characters/">Go Back</a>
